<div class="container">
  <h1><%= @space_station.name %></h1>
  <h3>Crew Capacity: <%= @space_station.capacity %></h3>
  <h3>Current Power Output: <%= @space_station.power %> kWh</h3>

  <% if @space_station.installments.count < 10 %>
    <%= simple_form_for [@space_station, @installment] do |f| %>
      <%= f.association :component, label_method: :component_type, as: :radio_buttons %>
      <%= f.submit "Attach Module" %>
    <% end %>
  <% end %>

  <div class="station-container">
    <% @components.each do |component| %>
      <div class="station-module-card">
        <%= image_tag component.image_url %>
        <p><%= component.component_type.split("-").last.capitalize %> Module</p>
      </div>
    <% end %>
  </div>
</div>
