<div class="container">
  <h1><%= @space_station.name %></h1>
  <h3>Crew Capacity: <%= @space_station.capacity %></h3>
  <h3>Current Power Output: <%= @space_station.power %> kWh</h3>

  <div class="station-container">
    <% @attachment_spaces.each do |attachment_space| %>
      <div class="station-module-card">
        <% if attachment_space.component.present? %>
          <%= image_tag attachment_space.component.image_url %>
        <% else %>
          <%= form_with(url: a_path(attachment_space.id), local: true, method: :update) do |f| %>
          <%= f.hidden_field(:attachment_space_id, value: attachment_space.id) %>
          <%= f.association :component, label_method: :component_type %>
          <%= f.submit "Attach Module" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
